body { 
    padding-bottom: 70px; 
}

.container-main {
    padding-left: 10px;
    padding-right: 10px
}

.brand-img {
    padding: 4.5px;
}

a.brand-link {
    font-weight: bold; 
    font-size: 18px; 
    color: black;
    text-decoration: none;
    cursor: pointer
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.footer {
    position: relative;
    clear:both;
    font-size: 0.9em; 
    color: #aaa; 
    padding: 10px; 
    background:#fff;

    text-align: center;
}

code {
    background-color: rgb(224,255,255);
    padding: 0 0.1em;
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.tooltip{
    font-size:11px;
}

.tooltip.in{
    opacity:.8;
}

a.black {
    color: black;
    text-decoration: none;
}
